<%- include("partials/header") %>
<section class="container d-flex justify-content-center">
    <section class="row">    
        <% products.forEach(product => { %>
            <section>
                <article class="card">
                    <section>
                        <figure>
                            <img src="<%= product.imageUrl %>" height="450rem" alt="<%= product.name %>">
                        </figure>
                        <section>
                            <article class="card-body text-center">
                                <h5 class="card-title border-bottom-1 p-2"><%= product.name %></h5>
                                <p class="card-text"><%= product.description %></p>
                                <p class="card-text">Lifespan: <%= product.lifespan %></p>
                                <p class="card-text">In stock: <%= product.inStock ? 'Yes' : 'No' %></p>
                                <p class="card-text">Produced on: <%= product.producedOn %></p>
                                <p class="card-text">Color: <%= product.color %></p>
                                <p class="card-text">Approved: <%= product.approved %></p>
                                <p class="card-text">Characteristics:</p>
                                <ul>
                                    <li>Material: <%= product.characteristics.material %></li>
                                    <li>Weight: <%= product.characteristics.weight %></li>
                                    <li>Amount in Stock: <%= product.characteristics.amountInStock %></li>
                                </ul>
                                <a href="/product/edit/<%= product.id %>">Edit</a>
                            </article>
                        </section>
                    </section>
                </article>
            </section>
        <% }); %>
    </section>
</section>
<%- include("partials/footer") %>
